
/*FONTS*/
@font-face {
    font-family: roboto;
    src: url(roboto.ttf);
}
@font-face {
    font-family: DADAfont;
    src: url(DADAfont.ttf);
}

/*END FONTS*/
*{
  font-family: roboto, serif;
}

.robot {
  font-family: roboto, arial, sans-serif;
}

html {
  min-width: 100%;
}
body {
  margin:0;
}
main {
  min-height: 90vh;
  min-width: 100%;
}
#aboutMain{
  margin-bottom:-50px;
}
footer {
  min-height: 10vh;
}
h4 a {
  color:#a28145;
  text-decoration: none;
  border: 2px solid #a28145;
}

h4 a:focus, h4 a:hover{
  color:#a28145;
  text-decoration: none;
  border: 2px solid #a28145;
}
.dada {
  font-family: DADAfont, Arial, sans-serif;
}
.marge {
  padding-top: 5vh;
}
.pos {
  position: relative;
  top: -100px;
}
.half{
  width: 50vw;
}
.noGutter {
  margin-left: 0px;
  margin-right: 0px;
}
.top-buffer {
  margin-top:10%;
}
.top-buffer-half {
  margin-top: 5%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon {
    width: 50px;
}
.icon:hover{
  opacity: .5;
}
p.foot, p.foot a {
  font-family: DADAfont, Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

p.foot, p.foot a {
  font-family: DADAfont, Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.footDark {
  font-family: DADAfont, Arial, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

a.footDark:hover {
  text-decoration: none;
  color:black;
  opacity: .5;
}

#faqbox {
  color:black;
}
.op:hover {
  opacity: .5;
}
.buy {
  font-family: DADAfont, serif;
  border: 2px solid white;
  white-space: pre-wrap;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.buy:hover {
  text-decoration: none;
  color:white;
}
  /* BUY Now Button animation */
.fadeBox {
  font-family: DADAfont, serif;
  border: 2px solid white;
  white-space: pre-wrap;
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.fadeBox:hover {
  text-decoration: none;
  -webkit-animation: KEYFRAME-NAME 2s;
  -moz-animation:    KEYFRAME-NAME 2s;
  -o-animation:      KEYFRAME-NAME 2s;
  animation:         KEYFRAME-NAME 2s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.white {
  background-color: white;
}
.dark {
  color: black !important;
}
#abtBuy {
  color:#a28145;
   text-align:center;
    margin: 0 auto;
     border: solid 2px #a28145;
      white-space:pre-line;
       padding: 5px 5px 5px 5px;
}
#abtBuy:hover {
  color:white;
   text-align:center;
    margin: 0 auto;
     border: solid 2px #a28145;
      white-space:pre-line;
       padding: 5px 5px 5px 5px;
       background-color: #a28145;
       text-decoration: none;
}
/* FAQ Now Button animation */
.faqFade {
font-family: DADAfont, serif;
border: 2px solid 162, 129, 69;
white-space: pre-wrap;
font-size: 40px;
color: 162, 129, 69;
text-decoration: none;
}
.faqFade:focus {
text-decoration: none;
-webkit-animation: KEYFRAME-NAME 2s;
-moz-animation:    KEYFRAME-NAME 2s;
-o-animation:      KEYFRAME-NAME 2s;
animation:         KEYFRAME-NAME 2s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;

}
@-webkit-keyframes KEYFRAME-NAME {
  0%   { color: rgb(162, 129, 69);
    background-color: rgba(255, 255, 255, 0);}
  100%  { color: rgb(255, 255, 255);
    background-color: rgba(162, 129, 69, 1);}
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { color: rgb(162, 129, 69);
    background-color: rgba(255, 255, 255, 0);}
  100%  { color: rgb(255, 255, 255);
    background-color: rgba(162, 129, 69, 1);}
}
@-o-keyframes KEYFRAME-NAME {
  0%   { color: rgb(162, 129, 69);
    background-color: rgba(255, 255, 255, 0);}
  100%  { color: rgb(255, 255, 255);
    background-color: rgba(162, 129, 69, 1);}
}
@keyframes KEYFRAME-NAME {
  0%   { color: rgb(162, 129, 69);
    background-color: rgba(255, 255, 255, 0);}
  100%  { color: rgb(255, 255, 255);
    background-color: rgba(162, 129, 69, 1);}
}
/* VIDEO STUFF */
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
@media (max-width: 1100px) {
   .video-background {
    display: none;}
  }
strong{
  color:#a28145;
}
  /*MEDIA QURIES*/

  @media screen and (max-width: 1200px) {
    #aboutMain{
      margin-bottom:-40px;
    }
}

@media screen and (max-width: 1105px) {
  #front{
    background: url(images/field.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  }
  #aboutMain{
    margin-bottom:-32px;
  }
  .half {
    width: 80vw;
  }
}

@media screen and (max-width: 1000px) {
  #aboutMain{
    margin-bottom:0;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
  .faqFade {
  font-family: DADAfont, serif;
  border: 2px solid 162, 129, 69;
  white-space: pre-wrap;
  font-size: 25px;
  color: 162, 129, 69;
  text-decoration: none;
  }
  .half {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .half {
    width: 95vw;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 400px) {
  .faqFade {
  font-family: DADAfont, serif;
  border: 2px solid 162, 129, 69;
  white-space: pre-wrap;
  font-size: 20px;
  color: 162, 129, 69;
  text-decoration: none;
  }
  .half {
    width: 97vw;
  }
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
  .faqFade {
  font-family: DADAfont, serif;
  border: 2px solid 162, 129, 69;
  white-space: pre-wrap;
  font-size: 16px;
  color: 162, 129, 69;
  text-decoration: none;
  }
}
@media screen and (max-width: 257px) {
  .fadeBox{
    font-size: 30px;
  }
  html {
    min-width: 250px;
  }
}
